<div class="palette1 large-div">
	<div class="container">
		<div class="palette-text">
			{{text1}}
		</div> 
	</div>
</div>
<div class="palette2 large-div">
	<div class="container">
		
	</div>
</div>
<div class="palette3 large-div" >
	<div class="container">
		
	</div>
</div>
<div class="palette4 large-div">
	<div class="container">
		
	</div>
</div>
<div class="palette5 large-div">
	<div class="container">
		
	</div>
</div>