<div class="container palette-text">
	 <div class="row">
	 	<div class="col-xs-3">
	 	</div>
	 	<div class="col-xs-3">
		 	<a href="https://open.spotify.com/album/7wKeJmlMiRdZ8R2qbg9IV6">
		 		<img class="img-responsive" src="images/tote.png">
		 	</a>
	 	</div>
	 	<div class="col-xs-3">
		 	<a href="https://open.spotify.com/album/6RlmNQHSnr03ivC8xOtBiJ">	
		 		<img class="img-responsive" src="images/purpshirt.png">
		 	</a>
	 	</div>	 	
                <div class="col-xs-3">
		 	<a href="https://open.spotify.com/album/6RlmNQHSnr03ivC8xOtBiJ">	
		 		<img class="img-responsive" src="images/whiteshirt.png">
		 	</a>
	 	</div>    	 	
                </div>	 	
                <div class="col-xs-3">
		 	<a href="https://open.spotify.com/album/6RlmNQHSnr03ivC8xOtBiJ">	
		 		<img class="img-responsive" src="images/blkshirt.png">
		 	</a>
	 	</div>    
               <div class="col-xs-3">
		 	<a href="https://open.spotify.com/album/6RlmNQHSnr03ivC8xOtBiJ">	
		 		<img class="img-responsive" src="images/tanshirt.png">
		 	</a>
	 	</div>   
                <div class="col-xs-3">
		 	<a href="https://open.spotify.com/album/6RlmNQHSnr03ivC8xOtBiJ">	
		 		<img class="img-responsive" src="images/greyhoodie.png">
		 	</a>
	 	</div>    
                <div class="col-xs-3">
		 	<a href="https://open.spotify.com/album/6RlmNQHSnr03ivC8xOtBiJ">	
		 		<img class="img-responsive" src="images/blkhoodie.png">
		 	</a>
	 	</div>
	 	<div class="col-xs-3">
	 	</div>
	 </div>
 </div>
