
{{> navbar}}
<div class="content" id="palette5">
	<div class="container palette-text">
		<p>For enlisting the agency's services, internship inquiries, and other questions, send us an email: 
		<a href="mailto:hello@paletteagency.com" target="_top">hello@paletteagency.co</a>
		</p>
		<div class="contact-icons">
			 <a href="https://www.instagram.com/paletteagency"><img alt="Instagram"  class="logo" src="/images/Icons/instagram.png"></a>
			 <a href="https://www.facebook.com/paletteagency"><img alt="Facebook" class="logo" src="/images/Icons/facebook.png"></a>
			 <a href="https://www.twitter.com/paletteagency"><img alt="Twitter" class="logo" src="/images/Icons/twitter.png"></a>
			 <a href="https://www.soundcloud.com/paletteagency"><img alt="Soundcloud" class="logo" src="/images/Icons/soundcloud.png"></a>
		</div>
	</div> 
</div>
