
{{> navbar}}
<div class="palette1 large-div">
	<div class="container">
		<div class="palette-text">
		<p>For enlisting the agency's services, internship inquiries, and other questions, send us an email: 
			<a href="mailto:hello@paletteagency.com" target="_top">hello@paletteagency.co</a></p>
			<div class="contact-icons">
				 <a href="https://www.instagram.com/paletteagency"><img alt="Instagram"  class="logo" src="/images/icons/instagram.png"></a>
				 <a href="https://www.facebook.com/paletteagency"><img alt="Facebook" class="logo" src="/images/icons/facebook.png"></a>
				 <a href="https://www.twitter.com/paletteagency"><img alt="Twitter" class="logo" src="/images/icons/twitter.png"></a>
				 <a href="https://www.soundcloud.com/paletteagency"><img alt="Soundcloud" class="logo" src="/images/icons/soundcloud.png"></a>
			</div>
		</div> 
		
	</div>
</div>
