<!DOCTYPE html>
<html>
{{> navbar}}
<body data-spy="scroll" data-target=".navbar" data-offset="50">

  <div class="content" id="palette2">
	  <div class="center-content">	 
	  	 <div class="row">
	  	 	<div class="col-xs-6">
		  	 	<a href="https://open.spotify.com/album/7wKeJmlMiRdZ8R2qbg9IV6">
		  	 		<img class="img-responsive" src="images/APartOfEverything.jpg">
		  	 	</a>
	  	 	</div>
	  	 	<div class="col-xs-6">
		  	 	<a href="https://open.spotify.com/album/6RlmNQHSnr03ivC8xOtBiJ">	
		  	 		<img class="img-responsive" src="images/TheGreatNewWonderful.jpg">
		  	 	</a>
	  	 	</div>
	  	 </div>
	  </div>    
  </div>
</html>